<!--html-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>выиграли {{ symh }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/mainstyle.css') }}">
    <link rel="icon" sizes="1378x1378" href="{{ url_for('static', filename='icon/icon.ico')}}">
</head>
<body class="body">
    <h1 class="hm">выиграли {{ symh }}</h1>
    <div class="container">
        <button class="button"><a href="/">вернуться на главную</a></button>
    </div>
</body>
</html>